@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2 class="mt-4">Customers</h2>


@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info mb-4" })
@*@if (!Model.Any())
{
    <text> We don't have any customer</text>
}
else
{*@
    <table id="customers" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Membership Type
                </th>
                <th>
                    Delete
                </th>
            </tr>

        </thead>
        <tbody>
        </tbody>
    </table>

    @Html.Partial("_ConfirmModal")

@*}*@
@section scripts
{
    <script src="~/Scripts/app/main.js"></script>
    <script src="~/Scripts/app/customer_index.js"></script>
}
