@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2 class="mt-4">Customers</h2>


@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info mb-4" })

    <table id="customers" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Membership Type
                </th>
                <th>
                    Delete
                </th>
            </tr>

        </thead>
        <tbody>
        </tbody>
    </table>

@section scripts
{
    @Scripts.Render("~/bundles/customers")
}
